.container {
    width: clamp(375px, 375px+2vw, 767px);
    margin-inline: auto;
    padding-inline: 1.33em;
    // border: 3px solid green;
}

.hero-container {
    height: 650px;
    padding-top: 2.5em;

    background-image: url(/images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {
        width: min-content;
        margin-top: 10rem;
        padding: 1.4rem;
        border: 2px solid var(--clr-white);
    }
}

.about-container {
    padding-top: 5.63rem;

    .about-image {
        width: auto;
    }

    p {
        width: 30ch;
        margin-top: 1rem;
        margin-inline: auto;
        text-align: center;
    }

    h2 {
        margin-top: 2.6rem;
    }
}

.creations-container {
    padding-top: 5.86rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        text-align: left;
    }

    .creations-button-desktop {
        display: none;
    }

    .creations-button-mobile {
        margin-block: 1.5rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-black);
}

// .header-section {
//     z-index: 10;
// }
// .nav {
//     height: 5.5rem;
//     padding-inline: 1.5em;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .logo {
//     height: 1.5rem;
// }

// .nav-list {
//     display: none;
//     gap: 2em;
// }

// .nav-toggle-open,
// .nav-toggle-close {
//     height: 2.6rem;
//     filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(314deg) brightness(106%) contrast(99%);
// }

// .nav-toggle-close {
//     display: none;
// }

// .hero-section_content {
//     height: 538px;
//     margin-top: -5.5rem;
//     padding-top: 0.5em;
//     text-align: center;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 3em;
//     background-image: url(/images/mobile/image-header.jpg);
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .services-section_content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .services-section_item--text-image-box {
//     height: 600px;
// }

// .services-section_item--text-image-box {
//     display: flex;
//     flex-direction: column;
//     // justify-content: flex-end;
//     align-items: center;

//     padding-inline: 1.5em;
//     padding-bottom: 4rem;

//     text-align: center;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;

//     &:nth-of-type(3) {
//         background-image: url(/images/mobile/image-cherries.jpg);
//     }

//     &:nth-of-type(4) {
//         background-image: url(/images/mobile/image-orange.jpg);
//     }
// }

// .services-section_item--text-box {
//     padding-block: 4em;
//     padding-inline: 1.5em;
//     background-color: var(--clr-light);

//     text-align: center;

//     p {
//         margin-top: 1.5em;
//         margin-bottom: 1.5em;
//     }
// }

// .testimonials-section_content {
//     padding: 4em 0 5.8em;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 4em;
//     text-align: center;
// }

// .testimonials-section_cards {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 4em;
// }

// .gallery-section_content {
//     display: flex;
//     flex-wrap: wrap;

//     &--image {
//         max-width: 11.7em;
//     }
// }

// .footer-section_content--image {
//     margin-bottom: 4em;
// }

// .footer-section_content {
//     height: 21.88em;
//     min-width: 375px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: var(--clr-accent-4);
// }

// .footer-section_content--image {
//     width: 170px;
//     margin-top: 4em;
//     margin-bottom: 2.5em;
//     filter: invert(42%) sepia(5%) saturate(3930%) hue-rotate(118deg) brightness(66%) contrast(93%);
// }

// .secondary-nav-list {
//     width: 18.56rem;
//     margin-bottom: 5.5em;
//     display: flex;
//     justify-content: space-between;
// }

// .footer-section_content--socials {
//     min-width: inherit;
//     padding-inline: 4em;
//     display: flex;
//     justify-content: space-evenly;
// }

// @media (max-width: 48rem) {
//     .services-section_item:nth-child(1) {
//         order: 2;
//     }
//     .services-section_item:nth-child(2) {
//         order: 1;
//     }
//     .services-section_item:nth-child(3) {
//         order: 3;
//     }
//     .services-section_item:nth-child(4) {
//         order: 4;
//     }
//     .services-section_item:nth-child(5) {
//         order: 5;
//     }
//     .services-section_item:nth-child(6) {
//         order: 6;
//     }
// }

// @media (min-width: 48rem) {
//     .container {
//         min-width: 48rem;
//     }

//     .nav-list_content {
//         display: flex;
//         align-items: flex-end;
//     }

//     .nav-toggle-open {
//         display: none;
//     }

//     .hero-section_content {
//         background-image: url(/images/desktop/image-header.jpg);
//     }

//     .nav-list {
//         display: flex;
//     }
// }
// @media (min-width: 90rem) {
//     .container {
//         min-width: 90rem;
//     }
// }
