@use "../abstracts/variables" as *;
.button {
    cursor: pointer;
    padding: 10px 38px;
    background-color: transparent;
    border: 1px solid hsl(var(--clr-dark));
}

.button:hover {
    color: hsl(var(--clr-light));
    background-color: hsl(var(--clr-dark));
}
