@use "../abstracts/variables" as *;

p {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.7;
    text-align: center;
    color: var(--clr-medium-dark);
}

.heading-lg,
.heading-md,
.heading-sm {
    font-family: var(--ff-secondary);
    text-transform: uppercase;
}

.heading-lg {
    font-size: var(--fs-700);
    line-height: 2.38rem;
    color: var(--clr-white);
}

.heading-md {
    font-size: var(--fs-600);
    line-height: 2rem;
    text-align: center;
}

.heading-sm {
    font-size: var(--fs-500);
    line-height: 1.5rem;
    color: var(--clr-white);
}
