:root {
    //COLORS
    --clr-light: 0, 0%, 100%;
    --clr-medium-light: 0, 0%, 95%;
    --clr-medium: 0, 0%, 55%;
    --clr-medium-dark: 0, 0%, 41%;
    --clr-dark: 0, 0%, 0%;

    //TYPOGRAPHY
    //Font families
    --ff-body: "Alata";
    --ff-heading: "Josefin Sans";

    // Font sizes
    --fs-700: 2.5rem; //40px
    --fs-600: 2rem; //32px
    --fs-500: 1.5rem; //24px
    --fs-400: 0.9375rem; //15px
    --fs-300: 0.875rem; //14px

    //Font weights
    --fw-light: 300;
    --fw-regular: 400;

    //Line-heights
    --lh-3: 2.375rem; //38px
    --lh-2: 2rem; //32px
    --lh-1: 1.5625rem; //25px
    --lh-0: 1.5rem; //24px

    //Letter spacing
    --ls-3: 0.3125rem;
}
